Introduzione\ alla\ programmazione/
.obsidian/
.git/
Architettura dei Calcolatori/
.gitignore
*   # Ignora tutti i file nella directory principale
!*/ # Reinclude le sottocartelle, tranne quelle specificate sopra
