Introduzione\ alla\ programmazione/
Architettura\ dei\ calcolatori/
.obsidian/
.git/
*   # Ignora tutti i file nella directory principale
!*/ # Reinclude le sottocartelle, tranne quelle specificate sopra
